                                                                          ICP-3

Q1

In [2]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count > 0:
            return cls.total_salary / cls.employee_count
        return 0

    def display_employee(self):
        return f"Employee: {self.name}, Department: {self.department}, Salary: {self.salary}"

class FulltimeEmployee(Employee):
    ft_employee_count = 0
    ft_total_salary = 0

    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)
        FulltimeEmployee.ft_employee_count += 1
        FulltimeEmployee.ft_total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.ft_employee_count > 0:
            return cls.ft_total_salary / cls.ft_employee_count
        return 0

    def display_employee(self):
        return f"Fulltime Employee: {self.name}, Department: {self.department}, Salary: {self.salary}"

# Creating instances
emp1 = Employee("John", "Doe", 50000, "HR")
emp2 = Employee("Jane", "Doe", 60000, "Finance")
ft_emp1 = FulltimeEmployee("Alice", "Smith", 70000, "IT")
ft_emp2 = FulltimeEmployee("Bob", "Jones", 80000, "Marketing")

# Displaying information
print(emp1.display_employee())
print(emp2.display_employee())
print(ft_emp1.display_employee())
print(ft_emp2.display_employee())

# Displaying average salaries and counts
print(f"Average Salary of Employees: {Employee.average_salary()}")
print(f"Number of Employees: {Employee.employee_count}")
print(f"Average Salary of Fulltime Employees: {FulltimeEmployee.average_salary()}")
print(f"Number of Fulltime Employees: {FulltimeEmployee.ft_employee_count}")

Employee: John, Department: HR, Salary: 50000
Employee: Jane, Department: Finance, Salary: 60000
Fulltime Employee: Alice, Department: IT, Salary: 70000
Fulltime Employee: Bob, Department: Marketing, Salary: 80000
Average Salary of Employees: 65000.0
Number of Employees: 4
Average Salary of Fulltime Employees: 75000.0
Number of Fulltime Employees: 2

Q2

In [3]:
import numpy as np

# Create random vector of size 20 with floats in the range 1-20
random_vector = np.random.uniform(1, 20, 20)

# Reshape the array to 4 by 5
reshaped_array = random_vector.reshape(4, 5)

# Replace the max in each row by 0
reshaped_array[reshaped_array == reshaped_array.max(axis=1, keepdims=True)] = 0

reshaped_array

array([[14.70134197, 13.03554151,  7.25405228,  0.        ,  6.23386914],
       [ 5.45423432,  5.7069759 ,  0.        ,  2.63847477,  2.03058003],
       [14.92580646,  6.8243149 ,  2.95644387, 12.89565488,  0.        ],
       [ 5.92459878,  6.89802205,  4.47456801,  7.45444271,  0.        ]])